fieldset {
    border: 1px solid #ccc; 
    padding: 20px; 
    margin: 20px auto; 
    width: 80%; 
    max-width: 600px; 
    border-radius: 8px; 
    background-color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

input[type="text"], input[type="email"], input[type="tel"], select, input[type="date"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ee05f2; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder {
    color: #888; 
}

select {
    cursor: pointer; 
}

h1 {
    text-align: center; 
}

p {
    text-align: center; 
    font-size: 0.9em; 
    color: #555; 
}

.asterix-higlighted {
    color: red; 
}

.name-inputs {
    display: flex; 
    justify-content: space-between; 
}

.name-inputs input {
    width: 48%; 
}

.reservationTime {
    display: flex; 
    justify-content: space-between; 
}

.reservationTime select {
    width: calc(33.33% - 10px); 
}

.button {
    text-align: right; 
}

.submit-button {
    border: 0;
    width: 90px;
    padding: 10px;
    border-radius: 25px;
    background-color: #0bbfbf; 
    color: white; 
}